
# Author    KMS - Martin Dubois, P. Eng
# Copyright (C) 2026 KMS
# License   http://www.apache.org/licenses/LICENSE-2.0
# Product   TLBoDP
# File      .gitignore

# ===== Linux ===============================================================

.Module.symvers.cmd
.module-common.o
.modules.order.cmd

Module.symvers
modules.order

.*.ko.cmd
.*.mod.cmd
.*.o.cmd

*.a
*.ko
*.mod
*.mod.c
*.o

# ===== Visual Studio =======================================================

/.vs/

x64/
