
# Author    KMS - Martin Dubois, P. Eng.
# Copyright (C) 2026 KMS
# Lisense   http://www.apache.org/licenses/LICENSE-2.0
# Product   TLBoDP
# File      KMS-Build.cfg

Product = TLBoDP

Configurations += Debug
Configurations += Release

LimuxProcessors += x86_64

WindowsProcessors += x64

Libraries += TLBoDP_K

EditOperations += _DocUser/Documentation.html;^\s*<h1> TLBoDP - .* </h1>$;        <h1> TLBoDP - {M.m.BT} </h1>

WindowsEditOperations += Product_x64.iss;^AppVersion=.*$;AppVersion={M.m.BT}
WindowsEditOperations += Product_x64.iss;^OutputBaseFilename=TLBoDP_.*_x64$;OutputBaseFilename=TLBoDP_{M.m.BT}_x64

Files += _DocUser/TLBoDP/ReadME.txt

Folders += Args;Args
Folders += Includes;Includes
Folders += Sources;Sources

LinuxPackages += kms-tlbodp

Stats_Console
