
# Author    KMS - Martin Dubois, P. Eng.
# Copyright (C) 2026 KMS
# Lisense   http://www.apache.org/licenses/LICENSE-2.0
# Product   TLBoDP
# File      KMS-Import.cfg

WindowsDependencies += Curl;8.16.0

Stats_Console
